/* global.scss */

@import 'antd/dist/reset.css';
@import 'variables';

body {
  margin: 0;
  font-family: $font-family-base;
  background-color: $color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}